.gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background: #f7efe9;
}

.photo-div {
    width: 30%;
    margin: 5px;
    border-radius: 5px;
    border: solid white 5px;
}

.gallery-img {
    width: 100%;
}